<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Stats </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Graphics try</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button (click)="changeLabels()">Change labels</ion-button>
    <ng-container *ngIf="this.chartData[0].data.length > 0">
      <canvas
        baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [chartType]="chartType"
        [colors]="chartColors"
      ></canvas>
    </ng-container>
  </ion-content>
</ion-content>
